<h1>Editing Email</h1>

<%= form_with(model: @user) do |form| %>



  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email, required: true  %>
  </div>


  <div>
    <%= form.submit %>
  </div>
<% end %>

<br>

<div>
  <%= link_to "Show this user", @user %> |
  <%= link_to "Back to users", users_path %>
</div>
